<h1>Take our quiz!</h1>
{{#if error}}
  <div id="error" class="error">{{error}}</div>
{{else}}
  <div id="error" class="error" hidden></div>
{{/if}}

<form action="/quiz" id="question1" method="POST">
  {{! question1 }}
  <p>{{question1.question}}</p>

  <label>
    <input type="radio" name="answer1" value="answer1" />
    {{question1.choices.[0]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer1" value="answer2" />
    {{question1.choices.[1]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer1" value="answer3" />
    {{question1.choices.[2]}}
  </label>
  <br />
  <button type="submit">Submit</button>
</form>
{{#if explanation1}}
  {{#if correct}}
    <p>Correct!</p>
  {{else}}
    <p>Oops, Wrong Answer</p>
  {{/if}}
  <p>{{explanation1}}</p><br />
{{/if}}

<form action="/quiz" id="question2" method="POST">
  {{! question2 }}
  <p>{{question2.question}}</p>

  <label>
    <input type="radio" name="answer2" value="answer1" />
    {{question2.choices.[0]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer2" value="answer2" />
    {{question2.choices.[1]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer2" value="answer3" />
    {{question2.choices.[2]}}
  </label>
  <br />
  <button type="submit">Submit</button>
</form>
{{#if explanation2}}
  {{#if correct}}
    <p>Correct!</p>
  {{else}}
    <p>Oops, Wrong Answer</p>
  {{/if}}
  <p>{{explanation2}}</p><br />
{{/if}}


<form action="/quiz" id="question3" method="POST">
  {{! question3 }}
  <p>{{question3.question}}</p>

  <label>
    <input type="radio" name="answer3" value="answer1" />
    {{question3.choices.[0]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer3" value="answer2" />
    {{question3.choices.[1]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer3" value="answer3" />
    {{question3.choices.[2]}}
  </label>
  <br />
  <button type="submit">Submit</button>
</form>
{{#if explanation3}}
  {{#if correct}}
    <p>Correct!</p>
  {{else}}
    <p>Oops, Wrong Answer</p>
  {{/if}}
  <p>{{explanation3}}</p><br />
{{/if}}


<form action="/quiz" id="question4" method="POST">
  {{! question4 }}
  <p>{{question4.question}}</p>

  <label>
    <input type="radio" name="answer4" value="answer1" />
    {{question4.choices.[0]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer4" value="answer2" />
    {{question4.choices.[1]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer4" value="answer3" />
    {{question4.choices.[2]}}
  </label>
  <br />
  <button type="submit">Submit</button>
</form>
{{#if explanation4}}
  {{#if correct}}
    <p>Correct!</p>
  {{else}}
    <p>Oops, Wrong Answer</p>
  {{/if}}
  <p>{{explanation4}}</p><br />
{{/if}}


<form action="/quiz" id="question5" method="POST">
  {{! question5 }}
  <p>{{question5.question}}</p>

  <label>
    <input type="radio" name="answer5" value="answer1" />
    {{question3.choices.[0]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer5" value="answer2" />
    {{question5.choices.[1]}}
  </label>
  <br />
  <label>
    <input type="radio" name="answer5" value="answer3" />
    {{question5.choices.[2]}}
  </label>
  <br />
  <button type="submit">Submit</button>
</form>
{{#if explanation5}}
  {{#if correct}}
    <p>Correct!</p>
  {{else}}
    <p>Oops, Wrong Answer</p>
  {{/if}}
  <p>{{explanation5}}</p><br />
{{/if}}